@import "before.scss";
@import "nullstyle.scss";
@import "header.scss";
@import "footer.scss";

.intro {
	background: url(../img/intro/back.jpg) center / cover no-repeat;
	min-height: 100vh;
	position: relative;

	display: flex;
	align-items: center;
	// .intro_subtext
	&_subtext {
		position: absolute;
		right: -21px;
		bottom: 92px;
		width: 150px;
		img {
			width: 100%;
		}
		@media (max-width: 800px) {
			bottom: 0;
			right: 0;
			width: 100px;
		}
	}
	// .intro_inner
	&_inner {
		padding: 100px 0;
	}
	// .intro_title
	&_title {
		font-family: Oswald;
		font-size: 54px;
		font-weight: 700;
		line-height: 70 / 54 * 100%;
		letter-spacing: 0.02em;
		color: white;

		margin-bottom: 10px;
		max-width: 500px;

		@media (max-width: 500px) {
			font-size: 44px;
			margin-bottom: 24px;
			br {
				display: none;
			}
		}
	}
	// .intro_text
	&_text {
		font-size: 20px;
		line-height: 28 / 20 * 100%;
		color: white;

		margin-bottom: 25px;
		max-width: 400px;
		@media (max-width: 500px) {
			font-size: 18px;
			margin-bottom: 48px;
		}
	}
	// .intro_button
	&_button {
	}
}

.bafr {
	// .bafr_inner
	&_inner {
		margin-top: 180px;
		@media (max-width: 900px) {
			margin-top: 100px;
		}
		@media (max-width: 700px) {
			margin-top: 80px;
		}
	}
	// .bafr_top
	&_top {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 24px;
		align-items: center;
		margin-bottom: 80px;
		@media (max-width: 800px) {
			grid-template-columns: 1fr;
			grid-gap: 35px;
			margin-bottom: 40px;
		}
		@media (max-width: 700px) {
			margin-bottom: 0;
		}
	}
	// .bafr_content
	&_content {
	}
	// .bafr_title
	&_title {
		margin-bottom: 32px;
		@media (max-width: 700px) {
			margin-bottom: 25px;
		}
		@media (max-width: 500px) {
			font-size: 40px;
		}
	}
	// .bafr_text
	&_text {
		color: $grey;
		margin-bottom: 24px;
		@media (max-width: 500px) {
			line-height: 24px;
		}
	}
	// .bafr_subtitle
	&_subtitle {
		font-size: 18px;
		font-weight: 600;
		line-height: 23 / 18 * 100%;
		margin-bottom: 16px;
	}
	// .bafr_list
	&_list {
		li {
			display: flex;
			align-items: center;

			line-height: 22 / 16 * 100%;
			color: $grey;
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		img {
			display: block;
			padding-right: 6px;
		}
	}
	// .bafr_img
	&_img {
		width: 100%;
		padding-bottom: 523 / 588 * 100%;
	}
	// .bafr_bottom
	&_bottom {
		padding: 32px 80px;
		display: flex;
		grid-gap: 24px;
		justify-content: space-between;
		overflow: hidden;
		position: relative;
		background: url(../img/icons/backline.svg) center / cover no-repeat, #ead1d0;
		@media (max-width: 800px) {
			padding: 25px;
		}
		@media (max-width: 700px) {
			padding-bottom: 50px;
		}
		@media (max-width: 500px) {
			background: url(../img/icons/backline-rotate.svg) center / cover no-repeat, #ead1d0;
			padding: 56px 50px 76px 50px;
		}
	}
	// .bafr_column
	&_column {
	}
	// .bafr_pagination
	&_pagination {
		position: absolute;
		bottom: 24px !important;
		left: 50% !important;
		width: auto !important;
		transform: translateX(-50%);
		.swiper-pagination-bullet {
			border: 1px solid #961914;
			background-color: transparent;
			opacity: 1;
			transition: 300ms;
		}
		.swiper-pagination-bullet-active {
			background-color: #961914;
		}
	}
	// .bafr_type
	&_type {
		font-size: 14px;
		font-weight: 600;
		line-height: 28 / 14 * 100%;
		margin-bottom: 15px;
		text-transform: uppercase;
	}
	// .bafr_items
	&_items {
		display: flex;
		flex-wrap: wrap;
		grid-gap: 0 72px;
	}
	// .bafr_products
	&_products {
	}
	// .bafr_item
	&_item {
		display: flex;
		align-items: center;
		grid-gap: 16px;

		font-size: 18px;
		font-weight: 500;
		line-height: 45 / 18 * 100%;
		color: $grey;
		&:last-child {
			margin-bottom: 0;
		}
		@media (max-width: 500px) {
			img {
				width: 24px;
			}
		}
	}
}

.zooov {
	// .zooov_inner
	&_inner {
		margin-top: 205px;
		@media (max-width: 1000px) {
			margin-top: 150px;
		}
		@media (max-width: 800px) {
			margin-top: 120px;
		}
	}
	// .zooov_top
	&_top {
		display: flex;
		align-items: center;
		grid-gap: 97px;
		margin-bottom: 74px;
		@media (max-width: 800px) {
			margin-bottom: 56px;
		}
	}
	// .zooov_title
	&_title {
		white-space: nowrap;
		.round_line {
			svg {
				width: 140%;
				transform: translate(-50%, -50%) rotate(-17deg);
			}
		}
		@media (max-width: 450px) {
			font-size: 40px;
		}
	}
	// .zooov_text
	&_text {
		@media (max-width: 800px) {
			display: none;
		}
	}
	// .zooov_items
	&_items {
		margin-bottom: 60px;
	}
	// .zooov_pagination
	&_pagination {
		display: flex;
		justify-content: center;
		margin: 0 auto !important;

		.swiper-pagination-bullet {
			margin: 40px 4px 0 4px !important;
			background-color: $red;
			opacity: 0.2;
			transition: 300ms;
		}
		.swiper-pagination-bullet-active {
			background-color: #961914;
			opacity: 1;
		}
	}
	// .zooov_bottom
	&_bottom {
		display: flex;
		align-items: center;
		grid-gap: 151px;
		padding: 52px 121px 54px 50px;
		background: url(../../img/icons/backline.svg) center / cover no-repeat, #ead1d0;
		@media (max-width: 1000px) {
			grid-gap: 50px;
			padding: 50px;
		}
		@media (max-width: 650px) {
			flex-direction: column;
			padding: 32px 24px;
			grid-gap: 24px;
		}
	}
	// .zooov_calc
	&_calc {
		font-size: 28px;
		font-weight: 500;
		line-height: 39 / 28 * 100%;
		@media (max-width: 800px) {
			font-size: 20px;
		}
		@media (max-width: 650px) {
			text-align: center;
		}
	}
	// .zooov_button
	&_button {
	}
}
.item-zooov {
	width: 280px;
	// .item-zooov_img
	&_img {
		width: 100%;
		padding-bottom: 335 / 280 * 100%;
		margin-bottom: 45px;
		cursor: pointer;
		transition: 300ms;
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.05);
			}
		}
	}
	// .item-zooov_title
	&_title {
		font-weight: 700;
		line-height: 21 / 16 * 100%;
		margin-bottom: 4px;
		cursor: pointer;
		transition: 300ms;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .item-zooov_subtitle
	&_subtitle {
		font-size: 13px;
		line-height: 17 / 13 * 100%;
		margin-bottom: 16px;
		color: #9f9e9d;
	}
	// .item-zooov_text
	&_text {
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 11px;
		color: $grey;
	}
	// .item-zooov_mass
	&_mass {
		font-size: 13px;
		line-height: 17 / 13 * 100%;
		margin-bottom: 24px;
		color: #9f9e9d;
	}
	// .item-zooov_button
	&_button {
		cursor: pointer;
	}
}
.popup-zooov {
	// .popup-zooov_description
	&_description {
		margin: 0 23px;

		.popup_close {
			position: absolute;
			top: 23px;
			right: 23px;
			width: 24px;
			img {
				width: 100%;
			}
		}
		.popup_block {
			position: relative;
			padding: 48px 24px 24px 24px;
			max-width: 542px;
			width: 100%;
			overflow: hidden;
		}
	}
	// .popup-zooov_title
	&_title {
		font-size: 20px;
		font-weight: 700;
		line-height: 26 / 20 * 100%;
		margin-bottom: 4px;
	}
	// .popup-zooov_subtitle
	&_subtitle {
		font-size: 15px;
		line-height: 19 / 15 * 100%;
		margin-bottom: 30px;
		color: #9f9e9d;
	}
	// .popup-zooov_topslider
	&_topslider {
		margin-bottom: 19px;
		width: 100%;
	}
	// .popup-zooov_topitem
	&_topitem {
		width: 100%;
		padding-bottom: 335 / 279 * 100%;
	}
	// .popup-zooov_slider
	&_slider {
		margin-bottom: 24px;
	}
	// .popup-zooov_item
	&_item {
		width: 64px;
		padding-bottom: 21%;
	}
	// .popup-zooov_text
	&_text {
		font-size: 14px;
		line-height: 20 / 14 * 100%;
		color: $grey;
		p {
			margin-bottom: 25px;
			&:last-child {
				padding-top: 25px;
			}
		}
		span {
			font-weight: 600;
		}
	}
	// .popup-zooov_mass
	&_mass {
		font-size: 13px;
		line-height: 17 / 13 * 100%;
		color: #9f9e9d;
		margin-bottom: 30px;
	}
	// .popup-zooov_button
	&_button {
		div {
			display: flex;
		}
	}
}

.popup-zooov {
	// .popup-zooov_form
	&_form {
		.popup_close {
			position: absolute;
			top: 23px;
			right: 23px;
			width: 18px;
			img {
				width: 100%;
			}
		}
		.custom-select {
			position: relative;
			font-family: inherit;
			margin-bottom: 14px;
		}

		.custom-select select {
			display: none; /*hide original SELECT element: */
		}

		.select-selected {
			background: #f4f5f5 !important;
			border-radius: 8px !important;
		}

		/* Style the arrow inside the select element: */
		.select-selected:after {
			position: absolute;
			content: "";
			top: 0;
			right: 0;
			width: 49px;
			height: 49px;
			background: url(../../img/zooov/arrow.svg) center no-repeat;
		}

		/* Point the arrow upwards when the select box is open (active): */
		.select-selected.select-arrow-active:after {
			border-color: transparent transparent #fff transparent;
			top: 0;
		}

		/* style the items (options), including the selected item: */
		.select-items div,
		.select-selected {
			color: black;
			padding: 0 0 0 16px;
			line-height: 49px;
			font-size: 16px;
			font-weight: 400;
			height: 49px;
			cursor: pointer;
			background: #f4f5f5 !important;

			@media (max-width: 500px) {
				font-size: 14px;
			}
		}

		/* Style items (options): */
		.select-items {
			position: absolute;
			background-color: white;
			top: 100%;
			left: 0;
			right: 0;
			z-index: 99;
			border-radius: 0 0 8px 8px;

			&:last-child {
				border-radius: 0 0 8px 8px;
			}
		}

		/* Hide the items when the select box is closed: */
		.select-hide {
			display: none;
		}

		.select-items div:hover,
		.same-as-selected {
			background-color: rgba(0, 0, 0, 0.1);
		}

		.popup_block {
			position: relative;
			padding: 48px 24px 24px 24px;
			max-width: 500px;
			width: 100%;
			overflow: hidden;
		}
	}
	// .popup-zooov_img
	&_img {
		width: 100%;
		padding-bottom: 335 / 279 * 100%;
		margin-bottom: 32px;
	}
	// .popup-zooov_input
	&_input {
		background: #f4f5f5 !important;
		border-radius: 8px !important;
		margin-bottom: 16px;
		&:last-child {
			margin-bottom: 24px;
		}
		input {
			color: black !important;
		}
		p {
			color: black;
			opacity: 0.5;
		}
	}
	// .popup-zooov_quantity
	&_quantity {
		position: relative;
		width: 100%;
		height: 48px;
		background: #f4f5f5;
		border-radius: 8px;
		margin-bottom: 24px;

		display: flex;
		align-items: center;
		justify-content: center;

		input {
			background: transparent;
			text-align: center;
			height: 100%;

			font-family: Montserrat;
			font-size: 16px;
			color: black;

			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}

			/* Firefox */
			input[type="number"] {
				-moz-appearance: textfield;
			}
			@media (max-width: 500px) {
				font-size: 14px;
			}
		}

		> div {
			position: absolute;
			width: 20%;
			height: 100%;
			cursor: pointer;
			img {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		.plus {
			left: 0;
			img {
				padding-left: 16px;
			}
		}
		.minus {
			right: 0;
			display: flex;
			justify-content: end;
			img {
				padding-right: 16px;
			}
		}
	}
	// .popup-zooov_price
	&_price {
		font-family: Roboto;
		font-size: 20px;
		font-weight: 500;
		line-height: 26 / 20 * 100%;
		letter-spacing: 0.02em;
		text-align: center;
		margin-bottom: 24px;
	}
	// .popup-zooov_check
	&_check {
		margin-bottom: 16px;
		.form-footer_data {
			color: #9f9e9d !important;
			max-width: none !important;
		}
		.form-footer_checkbox {
			border: 1px solid #961914;
			box-sizing: border-box;
			border-radius: 2px;
		}
	}
	// .popup-zooov_button
	&_button {
		cursor: pointer;
	}
}
.popup-zooov {
	// .popup-zooov_thank
	&_thanks {
		p {
			padding-bottom: 15px;
			@extend .text;
			&:last-child {
				padding-bottom: 0;
			}
		}
	}
	// .popup-zooov_img
	&_img {
	}
	// .popup-zooov_label
	&_label {
		font-family: Oswald;
		font-size: 40px;
		font-weight: 700;
		line-height: 52 / 40 * 100%;
		letter-spacing: 0.02em;
		color: $red;

		margin-bottom: 22px;
	}
}

.why {
	background: url(../../img/icons/backline-color.svg) bottom center / 100% no-repeat;
	@media (max-width: 1000px) {
		background: url(../../img/icons/backline-color.svg) bottom center / 200% repeat-y;
	}
	@media (max-width: 600px) {
		background: url(../../img/icons/backline-color.svg) bottom center / 400% repeat-y;
	}
	// .why_inner
	&_inner {
		margin-top: 180px;
		@media (max-width: 1000px) {
			margin-top: 130px;
		}
		@media (max-width: 600px) {
			margin-top: 80px;
		}
	}
	// .why_title
	&_title {
		margin-bottom: 57px;
		position: relative;
		display: inline-block;
		img {
			position: absolute;
			bottom: -16px;
			right: -25px;
			transform: rotate(180deg);
		}
		@media (max-width: 1000px) {
			margin-bottom: 50px;
		}
		@media (max-width: 600px) {
			font-size: 40px;
			margin-bottom: 42px;
		}
	}
	// .why_items
	&_items {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		grid-gap: 40px 0;
		margin: 0 -15px;
	}
}
.item-why {
	width: 25%;
	padding: 0 12px;
	@media (max-width: 1000px) {
		width: 50%;
	}
	@media (max-width: 600px) {
		width: 100%;
	}
	// .item-why_img
	&_img {
		position: relative;
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 16px;
		img {
			max-width: 100%;
		}
		span {
			display: block;
			position: absolute;
			top: -20px;
			left: -20px;
			@media (max-width: 600px) {
				right: -20px;
				left: auto;
				transform: rotate(90deg);
			}
		}
	}
	// .item-why_title
	&_title {
		font-size: 18px;
		font-weight: 600;
		line-height: 23 / 18 * 100%;
		margin-bottom: 8px;
	}
	// .item-why_text
	&_text {
	}
}

.info {
	margin-top: 190px;
	position: relative;
	padding: 80px 0;
	overflow: hidden;
	background-color: #fff4f3;
	@media (max-width: 1000px) {
		padding: 53px 0;
		margin-top: 140px;
	}
	@media (max-width: 700px) {
		margin-top: 100px;
	}
	@media (max-width: 450px) {
		margin-top: 80px;
	}
	// .info_inner
	&_inner {
		position: relative;
		z-index: 2;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 24px;
	}
	// .info_text
	&_text {
		p {
			@extend .text;
			margin-bottom: 18px;
			color: #434242;
			&:last-child {
				margin-bottom: 0;
			}
		}
		@media (max-width: 450px) {
			margin-bottom: 45px;
			p {
				line-height: 21.5px;
			}
		}
	}
	// .info_lines
	&_lines {
	}
	// .info_line
	&_line {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		&:last-child {
			transform: rotate(-10deg);
			top: -40px;
			@media (max-width: 900px) {
				top: 50%;
			}
		}
		img {
			height: 100%;
		}
		@media (max-width: 900px) {
			top: 50%;
			img {
				height: 50%;
			}
		}
	}
	// .info_content
	&_content {
		padding: 40px 0;
		margin-right: 65px;
		@media (max-width: 1100px) {
			margin-right: 0;
		}
		@media (max-width: 1000px) {
			padding: 0;
		}
		@media (max-width: 900px) {
			grid-row: 1/2;
		}
	}
	// .info_title
	&_title {
		margin-bottom: 40px;
		display: inline-block;
		position: relative;
		padding-right: 15px;
		img {
			position: absolute;
			top: 50%;
			right: 5px;
			transform: translateY(-30%) rotate(170deg);
			@media (max-width: 900px) {
				right: -15px;
				transform: translateY(-100%) rotate(90deg);
			}
		}
		@media (max-width: 450px) {
			font-size: 40px;
			margin-bottom: 20px;
		}
	}
}
.images-info {
	display: flex;
	align-items: center;
	margin-right: 32px;
	padding-bottom: 31%;
	position: relative;
	z-index: 2;
	@media (max-width: 1100px) {
		margin-right: 0;
	}
	// .images-info_big1
	&_big1 {
		width: 85%;
		height: 0;
		padding-bottom: 101%;
	}
	// .images-info_big2
	&_big2 {
		position: absolute;
		top: calc(50% - 10px);
		right: 0;
		width: 65%;
		height: 0;
		padding-bottom: 70%;
		@media (max-width: 900px) {
			right: -24px;
		}
	}
	// .images-info_icon1
	&_icon1 {
		position: absolute;
		top: 64%;
		left: -55px;
		width: 33%;
		img {
			width: 100%;
		}
		@media (max-width: 900px) {
			width: 30%;
			left: 0;
		}
	}
	// .images-info_icon2
	&_icon2 {
		position: absolute;
		top: 40%;
		right: 21px;
		width: 22%;
		img {
			width: 100%;
		}
		@media (max-width: 900px) {
			right: 0;
			width: 20%;
		}
	}
}

.get {
	// .get_inner
	&_inner {
		margin-top: 180px;
		@media (max-width: 1000px) {
			margin-top: 120px;
		}
		@media (max-width: 550px) {
			margin-top: 80px;
		}
	}
	// .get_title
	&_title {
		margin-bottom: 80px;
		@media (max-width: 550px) {
			font-size: 40px;
			margin-bottom: 35px;
		}
	}
	// .get_items
	&_items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 40px 24px;
		@media (max-width: 1000px) {
			grid-template-columns: 1fr 1fr;
		}
		@media (max-width: 550px) {
			grid-template-columns: 1fr;
			padding-left: 32px;
			grid-gap: 36px;
			background: url(../../img/get/arrow-big.svg) left 60px / auto calc(100% - 60px) no-repeat;
		}
	}
}
.item-get {
	// .item-get_top
	&_top {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}
	// .item-get_icon
	&_icon {
		flex: 0 1 120px;
		position: relative;
		& img:nth-child(2) {
			position: absolute;
			top: -40px;
			left: -25px;
			@media (max-width: 1000px) {
				top: -15px;
				left: 30px;
				transform: rotate(90deg);
			}
		}
	}
	// .item-get_arrow
	&_arrow {
		@media (max-width: 550px) {
			display: none;
		}
	}
	// .item-get_title
	&_title {
		font-size: 18px;
		font-weight: 600;
		line-height: 23 / 18 * 100%;
		margin-bottom: 8px;
	}
	// .item-get_text
	&_text {
		> div {
			position: relative;
			display: inline-block;
			color: $red;
			&::after {
				content: "";
				position: absolute;
				display: block;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: $red;
			}
		}
	}
}
.popup-get {
	// .popup-zooov_count
	&_count {
		.form-footer_check {
			margin-bottom: 24px !important;
		}
	}
	// .popup-get_text
	&_text {
		margin-top: -6px;
		margin-bottom: 42px;
		a {
			position: relative;
			display: inline-block;
			color: $red;
			&::after {
				content: "";
				position: absolute;
				display: block;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: $red;
			}
		}
	}
	// .popup-get_choose
	&_choose {
		margin-bottom: 28px;
	}
	// .popup-get_radio
	&_radio {
		display: flex;
		align-items: center;
		margin-bottom: 17px;
		&:last-child {
			margin-bottom: 0;
		}
		input {
			display: none;
		}
	}
	// .popup-get_input
	&_input {
		position: relative;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		border: 1px solid $red;

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: 300ms;

			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: $red;
			opacity: 0;
		}
		input:checked ~ &:after {
			opacity: 1;
		}
	}
	// .popup-get_data
	&_data {
		font-size: 14px;
		line-height: 20 / 14 * 100%;
	}
	// .popup-get_textarea
	&_textarea {
		margin-bottom: 40px;
		textarea {
			width: 100%;
			min-height: 97px;
			padding: 14px 16px;
			background: #f4f5f5;
			border-radius: 8px;
		}
	}
	// .popup-get_button
	&_button {
		div {
			display: flex;
		}
	}
}
.popup-get {
	// .popup-get_grat
	&_grat {
		.popup_block {
			max-width: 460px;
			padding: 70px 45px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			* {
				margin: 0;
				&:first-child {
					margin-bottom: 16px;
				}
			}
		}
	}
	// .popup-get_text
	&_text {
	}
}

.question {
	// .question_inner
	&_inner {
		display: grid;
		grid-template-columns: 400px 1fr;
		grid-gap: 24px;
		margin-top: 180px;
		@media (max-width: 900px) {
			display: block;
			margin-top: 140px;
		}
		@media (max-width: 768px) {
			margin-top: 100px;
		}
		@media (max-width: 450px) {
			margin-top: 80px;
		}
	}
	// .question_title
	&_title {
		margin-bottom: 40px;
		@media (max-width: 450px) {
			font-size: 40px;
		}
	}
	// .question_items
	&_items {
	}
}
.item-question {
	padding: 32px 0;
	border-bottom: 1px solid #e5e5e5;
	&:first-child {
		padding-top: 0;
	}
	&:last-child {
		padding-bottom: 0;
		border-bottom: none;
	}
	@media (max-width: 900px) {
		padding: 24px 0;
	}
	// .item-question_top
	&_top {
		display: flex;
		justify-content: space-between;
		grid-gap: 24px;
		padding-right: 10px;
		transition: 300ms;
		cursor: pointer;
		&.active {
			margin-bottom: 12px;
			.item-question_button::before {
				width: 0;
			}
		}
		@media (max-width: 900px) {
			padding-right: 0;
			&.active {
				margin-bottom: 16px;
			}
		}
	}
	// .item-question_title
	&_title {
		font-size: 18px;
		font-weight: 600;
		line-height: 25 / 18 * 100%;
		@media (max-width: 450px) {
			font-size: 16px;
		}
	}
	// .item-question_button
	&_button {
		flex: 0 0 20px;
		width: 20px;
		height: 20px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: 100%;
			height: 2px;

			background-color: $red;
			border-radius: 2px;
		}
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) rotate(90deg);
			width: 100%;
			height: 2px;
			transition: 300ms;

			background-color: $red;
			border-radius: 2px;
		}
	}
	// .item-question_body
	&_body {
		overflow: hidden;
		transition: 300ms;
		p {
			@extend .text;
			color: #434242;
			@media (max-width: 450px) {
				font-size: 14px;
			}
		}
	}
}

// popups
.popup {
	// .popup_area
	&_area {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		overflow-y: auto;

		opacity: 0;
		visibility: hidden;

		transition: 300ms;
		.popup_block {
			transition: 300ms;
			transform: translateY(-300px);
		}

		&.active {
			opacity: 1;
			visibility: visible;
			.popup_block {
				transform: none;
			}
		}
	}
	// .popup_container
	&_container {
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	// .popup_block
	&_block {
		background-color: white;
	}
}
